@model List<Book>

@foreach (var book in Model)
{
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @book.BookName
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img src=@Url.Content(book.Photo) class="img-responsive" style="width:100%" alt="Image">
                    </div>
                    <div class="col-sm-8">
                        <p>Book Id: @book.BookId</p>
                        <p>Publish Year:@book.PublishYear</p>
                        <p>Description: @book.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}