<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Category name</th>
                <th>Products</th>
                <th style="width: 40px">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Khoa học viễn tưởng</td>
                <td class="text-right">
                    10
                </td>
                <td>
                    <a href="#"><i class="fa fa-edit"></i></a>
                    <a href="#"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>